:root {
  --accent: #058789;
  --text: #0e1720;
  --muted: #6f7780;
  --shadow: 0 8px 20px rgba(3, 32, 40, 0.06);
}

.nav {
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  backdrop-filter: blur(6px);
  z-index: 999;
  transition: 0.3s ease;
}

.nav-scrolled {
  background: rgba(255,255,255,0.9);
  box-shadow: var(--shadow);
}

.nav-wrap {
  max-width: 1200px;
  margin: auto;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.nav-logo {
  font-size:1.7rem;
  color:var(--accent);
  font-weight:900;
}
.nav-logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.nav-links {
  display:flex;
  gap:2rem;
  list-style:none;
}

.nav-links li a {
  font-weight:600;
  color:var(--text);
  text-decoration:none;
}
.nav-links li a:hover {
  color:var(--accent);
  border-bottom: 2px solid #058789;
}

/* Resume Button */
.resume-btn {
  border:1.5px solid var(--accent);
  padding:.5rem 1rem;
  border-radius:8px;
  color:var(--accent) !important;
}
.resume-btn:hover{
  background:var(--accent);
  color:white !important;
}

/* Mobile */
.menu-btn{
  display:none;
  background:none;
  border:none;
}

/* Responsive */
@media(max-width:850px){
  .menu-btn{ display:block; }

  .nav-links{
    display:none;
    flex-direction:column;
    background:white;
    box-shadow:var(--shadow);
    padding:1rem;
    border-radius:12px;
    position:absolute;
    top:80px;
    right:20px;
  }
  .nav-links.open{ display:flex; }
}
